body {
  margin: 0;
  font-family: "Almarai", sans-serif;
  font-family: "DM Serif Display", serif;
  font-family: "EB Garamond", serif;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Oswald", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Roboto Slab", serif;
  font-family: "Young Serif", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
